</body>
<footer>
    <!-- Your last name and year here in ALL assignments -->
    <div class="bg-black">
        <hr>
        CST336 Internet Programming. 2025 © Evans<br>
        <strong>Disclaimer:</strong> This site was created for academic purposes.
        <br><br>
    </div>
</footer>
</html>